{% extends "presentation/base.html" %} {% block title %}Home {%endblock %}
<br />
{% block content %}

        
<div class="no-gutters">
    <div class="col-12 list-inline">    
        <div class="col-sm-12 col-md-12 col-lg-6 list-inline">
            <a class="room" href="../images/preview_.jfif" alt="Room"> </a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 list-inline list-text">
                <ul id="nav" class="coaching"></ul>
                    <h1>Booking</h1>
                    
                    </li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}
