<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../../../static/css/style.css" />
    <title>{% block title %}Soulspark{% endblock %}</title>
  </head>

  <body>
    {% block header %}
    <header>
      <div class="row no-gutters">
        <a
          class="col-sm-12 col-md-4 col-lg-4 logo"
          a
          href="/"
          alt="Soulspark logo"
        >
        </a>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="row top no-gutters"></div>
        </div>
      </div>
      <div class="row links no-gutters">
        <div class="col-12">
          <ul id="nav" class="list-inline menucontainer">
            <li class="col-4 list-inline-item home-link">
              <a href="/"><span>&nbsp</span></a>
            </li>
            <li class="col-2 list-inline-item home-link">
              <a href="/"><span>Home</span></a>
            </li>
            <li class="col-2 list-inline-item booking-link">
              <a href="/"><span>Booking</span></a>
            </li>
            <li class="col-2 list-inline-item prices-link">
              <a href="/"><span>Prices</span></a>
            </li>
            <li class="col-2 list-inline-item contact-link">
              <a href="/"><span>Contact</span></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
