{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />

    <link rel="stylesheet" href="../../../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="data:," />

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <title>{% block title %}Soulspark{% endblock %}</title>
  </head>

  <body>
    {% block header %}
    <header class>
      <!-- Logo and top color with title-->
      <div class="container no-gutters w-100">
        <div class="row">
          <div class="col-12 ml-3 justify-content-center">
            <a class="p-0" href="#">
              <img class="m-2" src="../../../static/images/{{'soulsparklogo.jpg'}}" width="250" height="250" alt="logo">
            </a>
          </div>
              <!-- Sign to alert user that sign in was successful-->
              {% if messages %} {% for message in messages %}
              <br />
              <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %} {% endif %}  
          </div>
        </div>
      </div>
      <!-- Menu line -->
      <nav class="navbar navbar-expand-md navbar-light bg-light p-0 wt-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center navbar-style w-100" id="navbarNav">
                <li class="list-inline-item dropdown">
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        <a href="{% url 'reviews' %}" class="dropdown-item">Services</a>

                        </a>
                    </div>
                </li>


          <nav class="navbar navbar-light bg-light p-0 d-flex col-12">
            <ul id="nav" class="list-inline menucontainer w-100">
              <a href="#">
                <li class="col-sm-none col-md-2 list-inline-item">
                  <span class="menu-text">&nbsp; </span>
                </li>
              </a>
              <a href="{% url 'index' %}">
                <li class="col-sm-6 col-md-2 list-inline-item menu-link ">
                  <span class="menu-text">Home</span>
                </li>
              </a>
              <a href="{% url 'reviews' %}">
                <li class="col-sm-6 col-md-2 list-inline-item menu-link">
                  <span class="menu-text">Reviews</span>
                </li>
              </a>
              <a href="{% url 'prices' %}">
                <li class="col-sm-6 col-md-2 list-inline-item menu-link">
                  <span class="menu-text">Prices</span>
                </li>
              </a>
              <a href="{% url 'contact' %}">
                <li class="col-sm-6 col-md-2 list-inline-item menu-link">
                  <span class="menu-text">Contact</span>
                </li>
              </a>

              {% if user.is_authenticated %}
              <a class="sign_in" href="{% url 'account_email' %}">
                <li class="col-sm-6 col-md-1 list-inline-item">
                  <button type="button" class="btn btn-sm btn-outline-dark sign-btn">
                    Change E-mail
                </li>
              </a>
              <a class="sign_in position-absolute " href="{% url 'account_logout' %}">
                <li class="col-sm-6 col-md-1 list-inline-item">
                  <button type="button" class="btn btn-sm btn-outline-dark sign-btn">
                    Sign Out
                </li>
              </a>
              {% else %}
                <div class="col-sm-6 col-md-1 list-inline-item">
                  <a class=" text-dark " href="{% url 'account_login' %} ">
                    <button type="button" class="btn btn-sm btn-outline-dark sign-btn">
                    Sign In 
                  </a>
                </div>
                <div class="col-sm-6 col-md-1 list-inline-item">
                  <a class= "sign_in_2 text-dark" href="{% url 'account_signup' %}">
                    <button type="button" class="btn btn-sm btn-outline-dark sign-btn ">
                        Sign Up
                  </a>
                </div>
              {% endif %}
                
            </ul>
          </nav>
        </div>
      
    </header>
    {% endblock %}
  {% block footer %}
    <footer>
      <div class="footer fixed-bottom"></div>
    </footer>
  {% endblock%}

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
 
</html>