<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>

  <body>
    {% block sidebar %}
    <main class="grid">
      <div id="navbar">
        <div class="col-4 col-sm-12 col-md-6 col-lg-4">
          <img
            src="../../../static/images/soulsparklogo.jfif"
            id="logo"
            class="logo"
            alt="Soulspark logo"
          />
        </div>
        <div class="col-8 col-sm-12 col-md-6 col-lg-8">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Booking</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </div>
      </div>
    </main>
    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
