{% extends "base.html" %} {% load static %} {% block title %}Home {%endblock %}

<br />

{% block content %}
       
<div class="no-gutters">
    <div class="col-12 list-inline">    
        <div class="col-sm-12 col-md-12 col-lg-6 list-inline">
            <a class="room" href="../images/preview_.jfif" alt="Room"> </a>
        </div>
       
        <div class="container h-100">
            <div class="row">
                <div class="col-12 col-lg-6 mt-md-5 mt-2 d-flex ">
                    <img class="image_room img-thumbnail" src = "{% static 'images/preview_.jpg' %}" alt="Sussi Johansson">
                </div>
                <div class="col-12 col-md-5  mt-lg-5 mt-2">
                    <ul id="nav" class="coaching"></ul>
                        <h2>Coaching</h2>
                        <li class="services">
                            <p>Soulcoaching 1h <br>
                            60 minuter, 750 kr</p>
                        </li>
                        <li class="services">
                            <p>Soulcoaching Expansion 1,5h<br>
                            90 minuter, 1 125 kr</p>
                        </li>
                        <li class="services">
                            <p>Coachpaket 3 sessioner 1h/tillfälle<br>
                            60 minuter, 2 100 kr</p>
                        </li>
                        <li class="services">
                            <p>Coachpaket 3 sessioner 1h/tillfälle <br>
                            90 minuter, 3 000 kr</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
