{% extends "presentation/base.html" %} {% block title %} Reviews {%endblock %}
<br />
{% block content %}

<table>
  {% for item in items %}
    <tr>
        <td class = "review_text">{{ item.context }}</td>
        </td>
        <td>            
        <a href="/edit/{{ item.id }}">
            <button type="button" class="btn btn-primary btn-sm">Edit</button>
        </a>
        </td>
        <td>
        <a href="/delete/{{ item.id }}">
            <button type="button" class="btn btn-primary btn-sm">Delete</button>
        </a>
        </td>
    </tr>
  {% empty %}
    <h3> There are no reviews here yet </h3>

  {% endfor %}
</table>
<a href="{% url 'leave_review' %}"eavd a review</a>
{% endblock %}