{% extends "presentation/base.html" %} {% block title %} Reviews {%endblock %}
<br />

<div class="container-fluid">
    <div class="row">

        <!-- Display reviews -->
        <h1>REVIEWS</h1>
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-6 ">
                    <div class="card mb-4">
                        <div class="card-body">
                             <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h3>{{ post.content }} </h3>
                            </a>
                            <hr />   
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Leave reviews -->


<h2>LEAVE A REVIEW</h2>
<p>Posting as: {{ user.username }}</p>
<form method="post" style="margin-top: 2em;">
    {{ post_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>