{% extends "presentation/base.html" %} {% block title %} Reviews {%endblock %}
<br />
{% block content %}


    <table>
    {% for item in items %}
        <tr class = "reviews">
            <td class = "review_text">{{ item.context }}<br></td>
            
            <td class = "review_name">-{{ item.name }}</td>
            </td>
            {% if user.is_authenticated%}
            <td>
            <a href="/edit/{{ item.id }}">
                <button type="button" class="btn btn-primary btn-sm">Edit</button>
            </a>
            </td>
            <td>
            <a href="/delete/{{ item.id }}">
                <button type="button" class="btn btn-primary btn-sm">Delete</button>
            </a>
            </td>
            {% endif %}
        </tr>
    {% empty %}
        <h3> There are no reviews here yet </h3>

    {% endfor %}
    </table>
    {% if user.is_authenticated %}
    <a href="{% url 'leave_review' %}"> Leave a review</a>
    {% else %}
    <p>Signup / login to leave a review.</p>
    {% endif %}
{% endblock %}