/*--------------------------------------------Base */
.top {
    background-color: #b3dee5;
}

.logo {
    background: url(../images/soulsparklogo.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 250px;
}

.list-inline-item {
    background-color: #ffa101;
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.link-side {
    background-color: #ffa101;
    margin: 0;
}

span {
    background-color: #ffa101;
}