body {
    background-color: edeae5;
}

/*--------------------------------------------Base */
header {
    background-color: #026670;
    background-size: cover;
}

.logo {
    background: url(../images/soulsparklogo.jfif);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 250px;
}

.menu-link {
    background-color: #9fedd7;
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin: 0;
}

#nav li {
    font-size: 20px;
    text-align: center;
    padding: 0;
    height: 50px;
    padding-top: 10px;
}

a {
    color: black;
}

/*--------------------------------------------Index */

.image {
    background: url(../images/sussie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
}

.presentation_text {
    max-width: 500px;
    margin-left: 125px;
    margin-top: 125px;
}