{% extends 'base.html' %}
{% block content %}
<div>
<p>If you have not created an account yet, then please
    <ahref="{{ signup_url }}">sign up</a> first.</p>
    
    <formclass="login"method="POST"action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <inputtype="hidden"name="{{ redirect_field_name }}"value="{{ redirect_field_value }}" />
      {% endif %}
      <aclass="button secondaryAction"href="{% url 'account_reset_password' %}">Forgot password?</a>
      <buttonclass="primaryAction"type="submit">SIgn in</button>
    </form>
    {% endblock content %}
</div>